{% block body %}
    <div class="bg-red-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-orange-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-yellow-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-green-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-teal-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-blue-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-indigo-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-purple-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-pink-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-slate-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
{% endblock %}