<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <title>Flappy ML Dashboard</title>
</head>
<body hx-get="/" hx-trigger="every 2s" class="bg-slate-900 text-slate-50">
  <h1 class="bg-slate-300/10 text-3xl py-2 font-bold text-center border-b border-slate-300/30">{{message}}</h1>
{% block body %}<p>No template data.</p>{% endblock %}
</body>
</html>
<!-- hx-get="/" hx-trigger="every 2s" -->