<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Flappy ML Dashboard</title>
</head>
<body class="bg-slate-900 text-slate-50">
  <h1 class="bg-slate-300/10 text-3xl py-2 font-bold text-center border-b border-slate-300/30">{{message}}</h1>
  <div class="flex flex-wrap justify-center p-4">
    <div class="bg-red-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-orange-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-yellow-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-green-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-teal-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-blue-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-indigo-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-purple-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-pink-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
    <div class="bg-slate-500 m-3 rounded-lg border border-slate-300/30 min-h-96 basis-[420px] max-w-lg"></div>
  </div>
</body>
</html>